.aboutuswrapper{
    margin-top: 70px;
    background-color: #f5f5f5;
    /* background-color: rgb(240, 240, 240); */
    color: #333333;
    /* color: rgb(28, 48, 79); */
    font-family:  serif;
}
.aboutuswrapper h1{
    text-align: center;
    font-weight: 500;
    padding: 10px 0px;
}