.navbarwrapper{
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: aliceblue;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navlinks{
    display: flex;
    gap: 80px;
    margin: 0px 20px;
}
.mobilenavlink{
    display: none;
}
.mainheroimg{
    margin-top: 40px;
    min-height: calc(100vh - 40px);
    background: url(../public/hyroflexxheroimage.png) no-repeat center;
    background-size: cover;
    display: flex; 
    flex-direction: column;            
    justify-content: center;    
    align-items: center;        
    text-align: center; 

}
.herotitle{
    color:#FFFFFF;
    /* -webkit-text-stroke: 0.5px yellow; */
    font-size: 150px;
        color: yellow;

}
.herosubtitle{
    font-size: 30px;
color: aliceblue;
}
.aboutus{
    /* background-color: #f5f5f7; */
    background-color: #f4f5e9;
    padding: 50px 0;
    
}
.aboutuscontent{
    margin:0 50px;
    padding: 50px 100px;
    background-color: rgb(37,9,46);
    /* background-color: white; */
}
.aboutusheader{
    text-align: center;
        color: rgb(242, 192, 221);

}
.aboutusbody{
    text-align: justify;
            color: rgb(242, 192, 221);
            margin-bottom: 10px;
            line-height: 25px;
            font-weight:lighter
}
.aboutusbody li{
    list-style:disc;
    margin-bottom: 3px ;
    margin-left: 20px;
}
.whatweoffer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center ;
   border-bottom: 1px solid white;
   width: 100vw;
}

.whychooseus{
    flex-direction: row-reverse;
}
.whatweoffer li{
    list-style: none;
}
.whatweoffertitlegrid{
    width: 50vw;
padding: 100px 100px;
}
.whatweoffertitlegrid h1{
    font-size: 50px;
}
.whatweofferlistgrid{
    width: 50vw;
    background-color: rgb(37,9,46);
    color: rgb(242, 192, 221);
    padding: 100px 185px;
}
.whatweofferlistgrid h3{
    margin: 10px 0px;
}
.contactus{
    width: 100vw;
    height: 100%;
    color: rgb(37, 9, 46); /*forest green*/
    background-color: rgb(246, 235, 241); /*pastel blue*/
}
.contactus h1{
    text-align: center;
    padding:20px 0px;
}
.contactuswrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
       flex-wrap: wrap;

}
.contactusleftgrid{
    margin: 0px 50px;
}
.contactusleftgrid p{
    width: 50vw;
   display: flex;
   justify-content: flex-start;
}
.contactusrightgrid{
    padding: 0px 50px;
}
@media (max-width:780px){
    .herotitle{
        font-size: 40px;
    }
    .whatweoffertitlegrid{
        padding: 50px;
    }
    .whatweofferlistgrid{
        padding: 50px;
    }
}
@media  (max-width:580px) {
    .navlinks{
        display: none;
    }
    .mobilenavlink{
    display: flex;
    margin: 0px 10px;
}
    .herotitle{
        margin-top: -100px;
        font-size: 50px;
    }
    .herosubtitle{
        font-size: 20px;
    }
    .aboutuscontent{
        padding: 25px;
        margin: 0 25px;
    }
    .whatweoffertitlegrid{
        width: 100vw;
        padding:100px 50px;
}
    .whatweofferlistgrid{
        width: 100vw;
        padding: 50px;
    }

    .whychooseus{
        display: flex;
        flex-direction: row;
    }
    .contactusleftgrid{
    margin: 0px 20px;
}
.contactusleftgrid p{
    width: 100vw;
   display: flex;
   justify-content: flex-start;
}
.contactusrightgrid{
   width: 100vw;
   margin: 0px;
   padding: 0px;
}
}